.work .projects-grid li {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.large-nav .work .projects-grid li {
	height: calc(22vw - 15rem);
}

.small-nav .work .projects-grid li {
	height: calc(22vw - 9.5rem);
}

.work .projects-grid h4 {
	opacity: 0;
	margin: 10px 0 0 0;
	font-size: 2.4rem;
	color: #fff;
	font-weight: lighter;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.work .projects-grid img {
	opacity: 0;
	width: 102%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.work .projects-grid img.loaded {
	opacity: 0.3;
}

.work .projects-grid ul.fadeOut img.loaded {
	opacity: 0;
}

.work .projects-grid a:link {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.work .projects-grid li:hover {
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.work .projects-grid li:hover img.loaded {
	width: 110%;
	opacity: 0.1;
}

.work .projects-grid ul.fadeOut li:hover img.loaded {
	opacity: 0;
}

.work .projects-grid li:hover h4 {
	margin-top: 0;
	opacity: 1;
}

.work .projects-grid .add-favorite {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0;
	z-index: 3;
}

.work .projects-grid .add-favorite.favorite {
	opacity: 1;
}

.work .projects-grid .icon.add-favorite svg {
	width: 18px;
	margin-top: 1px;
}

.work .projects-grid li:hover .add-favorite {
	opacity: 1;
}

@media only screen and (max-width: 1300px) {
	.small-nav .work .projects-grid li {
		height: calc(30vw - 9rem);
	}

	.large-nav .work .projects-grid li {
		height: calc(30vw - 15rem);
	}
}

@media only screen and (max-width: 950px) {
	.large-nav .work .projects-grid li {
		height: 28vw;
	}

	.work .projects-grid h4 {
		margin-top: 0;
		opacity: 1;
	}

	.work .projects-grid .add-favorite {
		opacity: 1;
	}

	.work .projects-grid img {
		opacity: 0.1;
	}
}

@media only screen and (max-width: 600px) {
	.work .projects-grid ul {
		grid-template-columns: 1fr;
	}

	.large-nav .work .projects-grid li {
		height: 50vw;
	}
	.work .projects-grid li .add-favorite {
		top: 15px;
		right: 15px;
	}
}

@media only screen and (max-width: 500px) {
	.work .projects-grid li .add-favorite {
		top: 10px;
		right: 10px;
	}
}
